@let slots = $slots() | asRecord;

<!-- Modal toggle -->

  
  <!-- Main modal -->
      <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
              <!-- Modal header -->
              
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                    @if (slots['header']; as header) {
                    <ng-container [ngTemplateOutlet]="header"/>
                    }
                    <button type="button" (click)="emitClose()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <app-icon>
                            close
                        </app-icon>
                        <span class="sr-only">Close modal</span>
                    </button>
                
                </div>

                <app-divider/>
              
              
              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4">
                  <ng-content/>
              </div>
              <!-- Modal footer -->

              @if ( slots['footer']; as footer) {
                <app-divider/>
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                   <ng-container [ngTemplateOutlet]="footer"/>
                </div>
              }
          </div>
      </div>
  