<div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-foreground">{{$title()}}</h3>
      <div class="space-x-1 text-xs font-medium text-muted-foreground">
        <span>{{ $subtitle()}}</span>
      </div>
    </div>
    <div class="inline-flex space-x-4">
      <ng-template></ng-template>
      <app-button  full impact="light" tone="primary" shape="rounded" size="medium" disabled="true">
        <app-icon class="h-6 w-7">
          double_arrow
        </app-icon>
        hola mundo
      </app-button>
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium" routerLink="/auth/sign-up">
        <app-icon class="h-6 w-7">
          double_arrow
        </app-icon>
        Hola mundo
      </app-button>
    </div>
</div>
  